<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>
  <body class="font-sans">
    <div class="font-sans container max-w-prose mx-auto px-10 prose prose-green prose-sm sm:prose-lg lg:prose-xl sm:font-light lg:font-normal">
      {{ content }}
    </div>
  </body>
</html>
